*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
  font-size: 1.2rem;
}
#home{
  margin-top: 8em;
}
.home-text h2 {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
}
.bg-cover{
  background-color: #FEE9E8;
  border-radius: 70px;
}

/* -- Page Content -- */
.card {
  margin: 70px auto;
  border-radius: 70px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.h3-responsive{
  font-weight: 400;
}
.card-img-top {
  object-fit: cover;
  width: auto;
}
.heading {
  font-family: 'Sacramento', cursive;
  word-spacing: 10px;
}
#about{
  max-height: 900px;
  margin-top: 10em !important;
}
#join{
  margin-top: 10em !important;
  background-color: #FEE9E8;
}
#contact{
  background-color: #69afed;
}
#typeform{
  width: 100%; 
  height: 400px;
}
.footer-text{
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .center {
    text-align: center;
  }
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #about .card-img-top{
    margin-top: 120px;
  }
  #join .card-img-top{
    margin-top: 200px;
  }
}
@media (max-width: 768px) {
  .display-4 {
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
  }
  .main-2 {
      margin: 1.3rem;
  }
  #about p {
    margin: 0 10px;
  }
}
