*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #ffd1dc;
    overflow-x: hidden;
}
.nav-link{
  font-size: 1.2rem;
}
#home{
  margin-top: 7em;
}
.jumbotron{
  height: 85vh;
}
.bg-cover{
  background-image: url("https://image.freepik.com/free-vector/vector-cartoon-illustration-various-vegetables-wooden-background_1441-519.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- Page Content -- */
.card {
  max-width: 950px;
  max-height: 400px;
  margin: 70px auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.h3-responsive{
  font-weight: 400;
}
.card-img-top {
  object-fit: cover;
  width: auto;
}
.heading {
  font-family: 'Sacramento', cursive;
  word-spacing: 10px;
}
#about{
  max-height: 900px;
  margin-top: 10em !important;
}
#join{
  margin-top: 10em !important;
}
#contact{
  background-color: #69afed;
}
#typeform{
  width: 100%; 
  height: 400px;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.footer-text{
  font-size: 1.2rem;
}

@media (min-width: 200px) {
  .home-text{
    margin-top: 11rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home-text{
    margin-top: 20rem;
  }
}
@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #about .card-img-top{
    margin-top: 120px;
  }
  #join .card-img-top{
    margin-top: 200px;
  }
}
@media (max-width: 768px) {
  .display-4 {
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
  }
  .main-2 {
      margin: 1.3rem;
  }
  #about p {
    margin: 0 10px;
  }
}
